body {
 font-family: 'Black Han Sans', sans-serif;

}

button {
  background-color: white;
  border: black solid;
  align-content: center;
  font-family: 'Black Han Sans', sans-serif;
  padding: 15px 32px;
}

button:hover {
  background-color: yellow;
}


.Shenava {
 padding: 10px;
 border: 25px solid #000000;
  background-color: yellow;
}


#welcome {
  padding : 10px;
  border: 5px solid #000000;
  background-color: yellow;
}

/* .shenavamenu ul li {
  float: left;
  width : 200px;
  height : 40px;
  background-color: white;
  opacity: .8;
  line-height: 40px;
  text-align : center;
  font-size : 20px;
} */


.shenavamenu {
  align-content: center;
  border: black solid;
}

.shenavamenu ul li {
  display: inline;
}

#aboutme {
 padding: 10px;
 border: 5px solid #000000;
 display: none;
 background-color: yellow;
}

#projectshenava {
 padding: 10px;
 border: 5px solid #000000;
 display: none;
 background-color: yellow;

}

#blog {
 padding: 10px;
 border: 5px solid #000000;
 display: none;
 background-color: yellow;
}

/*
#myskills ul li {
  display : table;
}

#myskills ul li h1 {
  
}

#myskills ul li p {

}
*/

#web-dev {
  padding: 50px;
  border: 5px solid #000000;
  background-color: white;
  margin: 10px;
}

#mobile-dev {
  padding: 50px;
  border: 5px solid #000000;
  margin: 10px;
  background-color: white;
}

#blog {
  display: none;
}
/*ul{
 display: table;
 margin: 0 auto;
}
*/