body {
 font-family: 'Black Han Sans', sans-serif;

}

.Shenava {
 padding: 10px;
 border: 25px solid #000000;
  background-color: yellow;
}

.shenavamenu ul {
  margin : 0px;
  padding : 10px;
  list-style : none;
}

.shenavamenu ul li {
  float: left;
  width : 200px;
  height : 40px;
  background-color: white;
  opacity: .8;
  line-height: 40px;
  text-align : center;
  font-size : 20px;
}

.shenavamenu ul li a {
  text-decoration : none;
  color : black;
  display : block;
}

.shenavamenu ul li a:hover{
  background-color: blue;
}

.shenavamenu ul li ul li {
  display : none;
}

.shenavamenu ul li:hover ul li{
  display : block;
}


.aboutme {
 padding: 10px;
 border: 5px solid #000000;
}

ul{
 display: table;
 margin: 0 auto;
}
