body {
 font-family: 'Black Han Sans', sans-serif;

}

.Shenava {
 padding: 10px;
 border: 25px solid #000000;
  background-color: yellow;
}

.shenavamenu {
 margin: 0px;
 float: left;
}
.aboutme {
 padding: 10px;
 border: 5px solid #000000;
}

ul{
 display: table;
 margin: 0 auto;
}
